# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# environments
.venv/
venv/
env/
bin/
lib64/

# IDEs (VS Code, PyCharm 등)
.vscode/
.idea/

# Distribution / packaging
dist/
build/
*.egg-info/

# OS files
.DS_Store
Thumbs.db